body {
    background: rgb(227, 204, 229);
    text-align: center;
}

#miBoton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* 👇 usa !important para asegurar el cambio */
.rojo {
    background-color: red !important;
}